<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Student</title>
</head>

<body>
    <div class="container">
        <nav class="nav">
            <a class="nav-link text-decoration-underline" th:href="@{/}">Courses</a>
            <a class="nav-link text-decoration-underline" th:href="@{/students}">Students</a>
        </nav>
        <h1>Student: <span th:text="${student.name}"></span></h1>
    </div>


</body>

</html>