<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

  <title>Students</title>
</head>

<body>
  <div class="container">
    <nav class="nav">

      <a class="nav-link text-decoration-underline" th:href="@{/}">Courses</a>
      <a class="nav-link text-dark fw-bold ">Students</a>
    </nav>

    <h1>Students</h1>
    <hr />
    <ul>
      <li th:each="student: ${students}">
        <a th:href="@{/students/{id}(id=${student.studentId})}">
          <span th:text="${student.name}">Student name</span>
        </a>
      </li>
    </ul>
    <div class="container-fluid">
      <h2>Create a new student</h2>

      <form class="row g-3 align-items-center" th:action="@{/students}" method="POST">
        <div class="col-auto">
          <label class="col-form-label">Student name: </label>
        </div>
        <div class="col-4">
          <input class="form-control" name="name" />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-dark">Add</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>